body {
	background-image: url("./images/background_image.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

h2 {
    text-align: center;
    margin-top: 5em;
    color: navajowhite;
    font-family: Old English Text MT;
    font-size: 4em;
}

a {
    text-decoration: none;
    color: black;
    background-color: lightgray;
    padding: 2em 5em;
    margin: 5em;
    border-radius: 7%;
    font-size: 1.5em;
}

a:hover {
    background-color: navajowhite;
}

@media screen and (min-width: 1400px) {
	h2 {
		font-size: 2em;
	}
	a {
		padding: 1em 2.5em;
		font-size: 1em;
	}
}